# Discord
DISCORD_TOKEN=

# LS Optimizer API
LS_API_URL=http://localhost:3000
DISCORD_BOT_API_KEY=

# Webhooks
LS_WEBHOOK_SECRET=
WEBHOOK_PORT=3001

# Discord Roles (IDs)
ROLE_MONTHLY_ID=
ROLE_YEARLY_ID=
ROLE_LIFETIME_ID=

# Discord Channels (IDs)
FEATURE_CHANNEL_ID=
DISCORD_SYNC_LOG_CHANNEL_ID=
SHARE_CATEGORY_ID=

# GitHub
GITHUB_WEBHOOK_SECRET=
